<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Radiant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Radiant.Properties.Settings>
			<setting name="激活码" serializeAs="String">
				<value />
			</setting>
			<setting name="激活状态" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="密钥" serializeAs="String">
				<value>21218308</value>
			</setting>
			<setting name="注册码" serializeAs="String">
				<value />
			</setting>
		</Radiant.Properties.Settings>
	</userSettings>
</configuration>